<div class="row" data-rbs-document-editor-base="" model="Tutorial_Cookbook_Recipe">
	<div class="col-md-12">
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Tutorial_Cookbook_Recipe'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">

		<form data-rbs-document-editor-edit=""
			data-rbs-document-editor-tutorial-cookbook-recipe-edit="">

			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-label-title property="title" required="true"
					label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'title'), ['ucf']) }}">
				</rbs-field-label-title>

				<rbs-field-boolean property="vegetarian"
					label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'vegetarian'), ['ucf']) }}">
				</rbs-field-boolean>

				<rbs-field label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'difficulty'), ['ucf']) }}">
					<select class="form-control" data-ng-model="document.difficulty"
						data-rbs-items-from-collection="Tutorial_Cookbook_Collection_RecipeDifficulty">
						<option value=""> {{ i18n('m.tutorial.cookbook.admin.difficulty_select', ['ucf']) }}</option>
					</select>
				</rbs-field>

				<rbs-field-integer property="peopleNumber"
					label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'peopleNumber'), ['ucf']) }}">
				</rbs-field-integer>

				<rbs-field-integer property="preparationTime"
					label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'preparationTime'), ['ucf']) }}">
				</rbs-field-integer>

				<rbs-field-integer property="cookingTime"
					label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'cookingTime'), ['ucf']) }}">
				</rbs-field-integer>

				<rbs-field-integer property="restTime"
					label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'restTime'), ['ucf']) }}">
				</rbs-field-integer>
				<rbs-field label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'restTimeUnit'), ['ucf']) }}">
					<select class="form-control" data-ng-model="document.restTimeUnit"
						data-rbs-items-from-collection="Tutorial_Cookbook_Collection_RestTimeUnit">
						<option value=""> {{ i18n('m.tutorial.cookbook.admin.resttimeunit_select', ['ucf']) }}</option>
					</select>
				</rbs-field>

				<rbs-field-picker property="picture" label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'picture'), ['ucf']) }}"
					accepted-model="Rbs_Media_Image"
					selector-title="{{ i18nAttr('m.tutorial.cookbook.documents.recipe_picturepickertitle', ['ucf']) }}">
					<span class="help-block">{{ i18n('m.tutorial.cookbook.documents.recipe_picture_help', ['ucf']) }}</span>
				</rbs-field-picker>

				<rbs-field  label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'cost'), ['ucf']) }}">
					<select class="form-control" data-ng-model="document.cost"
						data-rbs-items-from-collection="Tutorial_Cookbook_Collection_RecipeCost">
						<option value=""> {{ i18n('m.tutorial.cookbook.admin.cost_select', ['ucf']) }}</option>
					</select>
				</rbs-field>

				<rbs-field-rich-text property="ingredients" required="true" profile="Website"
					label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'ingredients'), ['ucf']) }}">
				</rbs-field-rich-text>

				<rbs-field-rich-text property="preparation" required="true" profile="Website"
					label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'preparation'), ['ucf']) }}">
				</rbs-field-rich-text>

			</fieldset>

			<fieldset data-rbs-editor-section="publication"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.publication_properties', ['ucf']) }}"
				data-rbs-document-publication-section="">
			</fieldset>

			<fieldset
				data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>

		</form>

	</div>

</div>