<form name="form" ng-submit="submit()" novalidate="">
	<rbs-field-text property="title" required="true"
		label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'label'), ['ucf']) }}">
	</rbs-field-text>

	<hr />

	<rbs-field-picker property="picture" label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'picture'), ['ucf']) }}"
		accepted-model="Rbs_Media_Image" allow-creation="true" allow-edition="true"
		selector-title="{{ i18nAttr('m.tutorial.cookbook.documents.recipe_picturepickertitle', ['ucf']) }}">
		<span class="help-block">{{ i18n('m.tutorial.cookbook.documents.recipe_picture_help', ['ucf']) }}</span>
	</rbs-field-picker>

	<rbs-field-rich-text property="ingredients" required="true" profile="Website"
		label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'ingredients'), ['ucf']) }}">
	</rbs-field-rich-text>

	<rbs-field-rich-text property="preparation" required="true" profile="Website"
		label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'preparation'), ['ucf']) }}">
	</rbs-field-rich-text>

	<hr />

	<rbs-field-date property="startPublication"
		label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'startPublication'), ['ucf']) }}">
	</rbs-field-date>

	<rbs-field-date property="endPublication"
		label="{{ i18nAttr(propertyKey('Tutorial_Cookbook_Recipe', 'endPublication'), ['ucf']) }}">
	</rbs-field-date>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>